
@{
    ViewData["Title"] = "changepassword";
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-Commerce | Change Password</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
@model eCommerceWebApplication.Models.ChangePasswordModel

<body class="gray-bg">

    <div class="middle-box loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"></h1>

            </div>
            <h3>E-Commerce Change Password</h3>
            <span class="bg-danger">@ViewBag.err</span>
            <form class="m-t" role="form" method="post">
                <input type="hidden" name="user_id" id="user_id" value="@ViewBag.uid">
                <div class="form-group">
                    @Html.Label("Password")
                    @Html.PasswordFor(u => u.password, new { id = "password", @class = "form-control", placeholder = "" })
                    @Html.ValidationMessageFor(u => u.password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Re-type Password")
                    @Html.PasswordFor(u => u.confirmpassword, new { id = "confirmpassword", @class = "form-control", placeholder = "" })
                    @Html.ValidationMessageFor(c => c.password, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" id="login" onclick="changepassword()" style="background-color: #1ab394; border-color: #1ab394;">Change Password</button>


            </form>
            <p class="m-t">
                <small>
                    Copyright
                    <script>document.write(new Date().getFullYear())</script>© <a href="#" class="">E-Commerce</a>
                    All Rights Reserved.
                </small>
            </p>
        </div>
    </div>

    

    <script>
        function changepassword() {
            debugger;
        var id = window.location.href.slice(window.location.href.indexOf('?') + 1).split('=');
        console.log(id[1]);
        var formdata = new FormData();
        formdata.append("user_id", $("#user_id").val());
        formdata.append("password", $("#password").val());
        formdata.append("confirmpassword", $("#confirmpassword").val())
        var pass = $("#password").val();
        var cnfpass = $("#confirmpassword").val();

        var err = pass.localeCompare(cnfpass);
        $.ajax({
            data: formdata,
            type: 'POST',
            processData: false,
            contentType: false,
            url: '@Url.Action("changepassword", "account")',
            success: function (response) {
                console.log(response);
                if (response.errors.length != 0) {
                    for (err = 0; err < response.errors.length; err++) {
                        document.getElementById('error').innerHTML +=  response.errors[err]
                    }
                }
                else {
                    window.location.href = "@Url.Action("RedirectToLogin", "account")";
                }
            }

        })
    }
    </script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>