@{
    Layout = null;
}
@model eCommerceWebApplication.Models.Login

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>E-Commerce | Forgot password</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Forgot password</h2>

                    <p>
                        Enter your email address and emailed to password reset link.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="index.html">
                                <div class="form-group">
                                    @Html.TextBoxFor(c => c.user_name, new { id = "username", @class = "form-control", placeholder = "Username / Email-Id" })

                                    @Html.ValidationMessageFor(c => c.user_name, "", new { @class = "text-danger" })
                                </div>


                                <button type="button" data-toggle="modal" data-target="#mailmodal" class="btn btn-primary block full-width m-b" id="forgotpass" onclick="finduser()" style="color: white;">Send Reset Password Link</button>

                                <p></p>
                                <div id="signup"><a class="btn btn-sm btn-white btn-block underlineHover" href="@Url.Action("Login","account")">Return To Login</a></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <small>
                    Copyright
                    <script>document.write(new Date().getFullYear())</script>© <a href="#" class="">E-Commerce</a>
                    All Rights Reserved.
                </small>
            </div>
        </div>
    </div>

    @*=====================================modal=========================================*@
    <div id="mailmodal" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Please check your mail for reset password link..!! <br /> Your Mail-Id is : <span id="mailspan">@ViewBag.mail</span></h4>
                    <button type="button" class="close" data-dismiss="modal" airal-label="Close" onclick="cleardata()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="@Url.Action("Login","account")">Ok</a>
                    <a class="btn btn-secondary" href="@Url.Action("Login","account")">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    @*=====================================modal over=========================================*@

    <script type="text/javascript">
        function finduser() {
        document.getElementById('mailspan').innerHTML = document.getElementById('username').value
        $.ajax({
            url: "@Url.Action("forgotpassword", "account")?email_id=" + document.getElementById("username").value,
            type: 'GET',
            success: function (response) {

                if (response.errors.length != 0) {
                    for (err = 0; err < response.errors.length; err++) {
                    document.getElementById('errmessage').innerHTML += response.errors[err]
                    }
                }
                else {
                    document.getElementById("modelmailid").innerHTML = "";
                     window.location.reload("@Url.Action("Login","account")");
                }

            }
        })
    }
    </script>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>*@


</body>