@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Ecommerce.Models.Category>

<div>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertupdatemodel"><img src="~/lib/bootstrap-icons-1.3.0/plus.svg" style=" border-radius:50px"> Category</button>*@
    <a class="btn btn-primary" href="@Url.Action("addupdatecategory","category")"><img src="~/lib/bootstrap-icons-1.3.0/plus.svg" style=" border-radius:50px"> Category</a>
</div>

@*<div class="container">
        @Html.Partial("_category");
    </div>*@


            
                
                    <div class="table-responsive">
                        <table id="tree-table-3" class="table table-hover table-bordered mm-bg-primary  tree">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Ctegory</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.category_id" data-parent="@item.parent_category_id" data-level="1">
                                        <td data-column="name" onclick="getchild(@(item.category_id))">
                                            <span class="ml-2"></span>
                                            <svg class="svg-icon mm-arrow-right arrow-active" id="mm-dash-1" width="20" xmlns="http://www.w3.org/2000/svg"
                                                 fill="none" viewBox="0 0 50 50" stroke="currentColor" style="width: 20px;">
                                                <path stroke-width="3"
                                                      d="M21 22a2.99 2.99 0 0 1 2.121.879l8.89 8.636 8.868-8.636a3 3 0 0 1 4.242 4.242L32.011 40 18.879 27.121A3 3 0 0 1 21 22z" />
                                            </svg>
                                            @*<svg class="svg-icon mm-arrow-right arrow-hover" id="mm-dash-1" width="20" xmlns="http://www.w3.org/2000/svg"
                                                 fill="none" viewBox="0 0 50 50" stroke="currentColor" style="width: 20px;">
                                                <path stroke-width="3"
                                                      d="M43 40a2.992 2.992 0 0 1-2.121-.879l-8.89-8.635-8.868 8.635a3 3 0 0 1-4.242-4.242L31.989 22l13.132 12.879A3 3 0 0 1 43 40z" />
                                            </svg>*@
                                            <img src="~/image/category/@item.thumbnail_image" style="min-height: 50px;max-width: 50px; border-radius: 30px" />
                                            @item.category_name
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                



@*=====================================insertupdate model=========================================*@
<form method="post" id="form" enctype="multipart/form-data">
    <div id="insertupdatemodel" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Category</h5>
                    <button type="button" class="close" data-dismiss="modal" airal-label="Close" onclick="cleardata()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span id="error" class="text-danger"></span>
                <div class="modal-body">
                    <div class="form-group">

                        <input type="hidden" name="category_id" id="category_id" class="form-control" />

                        <input type="hidden" name="thumbnail_image" id="thumb_image" class="form-control" />



                        <label>Catgeory Name :</label>
                        <input type="text" id="category_name" name="category_name" class="form-control" />



                        <label>Thumbnail Image:</label>
                        <input type="file" id="thumbnail_image" name="file" class="form-control" onchange="readurl(this);" />

                        <img id="cahngethumbimage" src="#" /> <br />



                        <label id="parent_category_id_lable">Parent Category</label>
                        <select id="parent_category_id" asp-items="@(new SelectList(ViewBag.categoryname,"category_id","category_name"))" class="form-control"></select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="insertupdateclick()" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cleardata()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
@*=====================================insertupdate model over=========================================*@
@*=====================================delete model=========================================*@
<div id="delmodal" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure you want to delete this record?</h4>
                <button type="button" class="close" data-dismiss="modal" airal-label="Close" onclick="cleardata()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input type="hidden" id="cat_id" class="form-control" />

            </div>
            <div class="modal-footer">
                <button type="button" onclick="deletecategory()" class="btn btn-primary">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cleardata">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*=====================================delete model over=========================================*@

<script type="text/javascript">
    $(document).ready(function () {

        $('#tblcategory').DataTable({
            //"ordering": true,
            "columns": [{ "sortable": true }, { "sortable": false }],
            "bLengthChange": false,
            "bInfo": false
        });
    })
    @*$(function () {
        $("#getchildtr").on("click", function () {
            console.log($(this).data('id'))
            var id = $(this).data('id')
            $.ajax({
            type: 'GET',
                url: "@Url.Action("getchildCategory","category")?parent_category_id=" + $(this).data('id'),
                success: function (response) {
                    console.log(response);
                    console.log(id);
                    $("#partialview" + id).html(response);
                }
            })
        })
    })*@

    function getchild(parent_category_id) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("getchildCategory","category")?parent_category_id=" + parent_category_id,
            success: function (response) {
                $("#partialview" + parent_category_id).html(response);
            }
        })
    }

    function insertupdateclick() {
        if ($('#category_id').val() == 0) {


            var file = $('#thumbnail_image').val().replace(/C:\\fakepath\\/i, '');
            var files = $('#thumbnail_image')[0].files[0];

            console.log(files);
            var formData = new FormData();
            formData.append("category_name", $('#category_name').val());
            formData.append("file", files);
            formData.append("thumbnail_image", file);
            formData.append("parent_category_id", $('#parent_category_id').val());
            $.ajax({
                data: formData,
                type: "POST",
                processData: false,
                contentType: false,
                url: "@Url.Action("addupdatecategory", "category")",
                success: function (response) {
                    console.log(response.error);
                    if (response.errors.length != 0) {
                        for (err = 0; err < response.errors.length; err++) {
                            document.getElementById('error').innerHTML += "<li>" + response.errors[err] + "</li>"
                        }
                    }
                    else {
                        window.location.reload("@Url.Action("Category","category")");
                    }
                }
            });
            document.getElementById('error').innerHTML = "";
        }
        else {
            var file = $('#thumbnail_image').val().replace(/C:\\fakepath\\/i, '');
            var files = $('#thumbnail_image')[0].files[0];

            console.log(files);
            var formData = new FormData();
            formData.append("category_id", $('#category_id').val())
            formData.append("category_name", $('#category_name').val());
            if (file == "") {
                formData.append("thumbnail_image", $('#thumb_image').val())
            }
            formData.append("file", files);
            formData.append("thumbnail_image", file);
            formData.append("parent_category_id", $('#parent_category_id').val());
                $.ajax({
                    data: formData,
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: "@Url.Action("addupdatecategory", "category")",
                    success: function (response) {
                         if (response.errors.length != 0) {
                             for (err = 0; err < response.errors.length; err++) {
                                document.getElementById('error').innerHTML += "<li>" + response.errors[err] + "</li>"
                             }
                         }
                         else {
                            window.location.reload("@Url.Action("Category","category")");
                         }
                    }
                })
                document.getElementById('error').innerHTML = "";
        }
    }

    function dataonclick(category_id) {
            $.ajax({
                url: "@Url.Action("editCategory", "category")?category_id=" + category_id,
                type: "GET",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    $("#cahngethumbimage").attr('src', "/image/category/" + response.thumbnail_image).width(100).height(100);
                    $('#cat_id').val(response.category_id);
                    $('#category_id').val(response.category_id);
                    $('#category_name').val(response.category_name);
                    if (response.parent_category_id == 0) {
                        $('#parent_category_id_lable').hide();
                        $('#parent_category_id').hide();
                    }
                    else {
                        $('#parent_category_id_lable').show();
                        $('#parent_category_id').show();
                    }
                    $('#parent_category_id').val(response.parent_category_id);
                    $('#thumb_image').val(response.thumbnail_image)
                }
            })


    }

    function deletecategory() {

        $.ajax({
            url: "@Url.Action("deleteCategory", "category")?category_id=" + document.getElementById("category_id").value,
            type: "GET",
            success: function () {
                window.location.href = "@Url.Action("Category","category")";
            }
        });

    }


    function cleardata() {
        document.getElementById("cat_id").value = 0;
        document.getElementById("category_id").value = 0;
        document.getElementById("thumb_image").value = "";
        document.getElementById("category_name").value = "";
        document.getElementById("thumbnail_image").value = "";
        document.getElementById("parent_category_id").value = 0;
        $("#cahngethumbimage").attr('src', "").width(100).height(100);
        $('#parent_category_id_lable').show();
        $('#parent_category_id').show();

    }

    function readurl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $("#cahngethumbimage").attr('src', e.target.result).width(100).height(100);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


</script>
